<h1>Profile</h1>
<p><b>Name: </b>{{name}}</p>
<p><b>Last name: </b>{{secondName}}</p>
<p><b>CartID: </b>{{cartId2}}</p>
<p><b>Email: </b>{{email2}}</p>
<p><b>Age: </b>{{age2}}</p>
<form method="POST" action="/api/sessions/logout">
    <button type="submit">Logout</button>
</form>